<section class="h-screen bg-slate-100 flex flex-col justify-center items-center py-6">
    <section class="
            h-[35%]
            md:w-[80%]
            lg:w-[75%]
            px-1
            pt-5
    ">
        <app-carddollar></app-carddollar>
    </section>
    <section class="
                flex flex-col justify-center gap-4
                px-2
                py-6
                md:w-[75%] md:flex-row
                lg:w-[75%]
                bg-red-900
            ">
        <div
            class="w-[100%] md:w-[35%]"
        >
            <app-cardcalculator></app-cardcalculator>
        </div>
        <div
            class="w-[100%]
            md:w-[50%] lg:w-[60%]"
        >
            <app-cardcharts></app-cardcharts>
        </div>
    </section>
</section>