<div class="
rounded-lg 
bg-white p-2
h-[90%] 
shadow-md
bg-clip-border
flex flex-col justify-center items-center
md:px-6 md:m-[auto] md:w-[80%]
">
    <div class="w-[90%] py-1">
        <img [src]="" alt="Colombia flag" width="40" height="40" class="rounded-full" />
    </div>

    <p class="bg-green-400 text-white w-[60px] rounded-md px-1">1 USD</p>

    <h1 class="text-slate-800 w-[90%] text-center text-6xl font-semibold mb-3 lg:text-8xl">4.000</h1>

    <p class="text-slate-800 italic text-sm lg:w-[80%] text-center self-center">
        * Este valor es basado en la TASA REPRESENTATIVA DEL MERCADO (TRM) del banco de la
        república nacional de Colombia 🇨🇴. Esto con la intención de ser lo más cercano posible
        a la paridad del dólar contra el peso colombiano (COP).
    </p>

</div>